<div class="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Articles</a></li>
        <li><a href="/contact">Contact</a></li>
        <div>
            <li>Login</li>
            <li>Sign up</li>
        </div>
    </ul>
</div>