<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width" >
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{>header}}
    {{{body}}}
  {{>footer}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/formConfig.js"></script>
  <script src="/javascripts/pop-up.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
