
body {
    margin: auto;
    padding: 8px;
    width: 850px;
    height: fit-content;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.hidden {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p, a, li, input, label, button {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

/*HEADER*/

.header {
    background-color: #FAEBD7;
    border-radius: 5px;
}

.header ul {
    list-style-type: none;
    padding: 20px;
    margin: auto;
    width: 70%;
    cursor: default;
}

.header ul li {
    display: inline;

}

.header ul a {
    font-size: 25px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: coral;
}

.header ul a:hover {
    text-decoration: underline;
}

.header ul li a {
    color: coral;
}

.header ul .nav-bar-login {

}

/*Login/SignUp pop-up*/

.pop-up-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.active {
    display: flex;
}

.pop-up {
    height: 300px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
    display: block;
    cursor: default;
}

.pop-up .form-container {
    width: 300px;
    margin: 5% 18% 18% 18%;
    justify-content: center;
    align-items: center;
}

.form-container #email, #password, #name {
    display: inline-block;
    margin: 5px;
    width: 60%;
    font-size: 1em;
    font-weight: bold;
}

.form-container #email {
    margin-left: 38px;
}

.form-container #name {
    margin-left: 35px;
}

.form-container #name, #name-label {
    display: none;
}

.form-container  label {
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

.form-container button {
    width: 80px;
    height: 40px;
    background-color: #58cc4a;
    margin: 5px;
    font-weight: bold;
    color: white;
    border: none;
    transition: 200ms;
    cursor: pointer;
}

.form-container button:hover {
    background-color: white;
    border: 2px solid #58cc4a;
    color: #58cc4a;
}

.form-container #sign-up-button {
    color: blue;
    cursor: pointer;
}

.form-container #sign-up-button:hover {
    text-decoration: underline;
}

.form-container #wrong-credentials {
    color: red;
    display: none;
}

/*FOOTER*/

.footer {
    background-color: antiquewhite;
    border-radius: 5px;
    height: 100px;
}

.footer ul {
    list-style-type: none;
    padding: 20px;
    margin: 200px auto 10px auto;
    width: 70%;
    cursor: default;
}

.footer ul li {
    display: inline;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: coral;
    transition: 1s ease-in;
}

.footer ul li:hover {
    text-decoration: underline;

}

/*BODY*/

.article-container {
    border: 1px solid #ccc;
    border-bottom: 0;
    padding: 15px;
    border-radius: 10px;
}

.article-container:last-child {
    border-bottom: 1px solid #ccc;
}

ul {
    padding: 0;
}

ul .article-title {
    font-size: 18px;
}

ul .article-title:hover {
    text-decoration: underline;
}

ul .article-body {
    word-break: break-all;
}

.delete-icon {
    font-size: 25px;
    cursor: pointer;
    position: relative;
    float: right;
    color: #cc9097;
}

.delete-icon:hover {
    animation: 500ms spin ease-in-out;
}

.delete-icon:active {
    color: red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/*FORM*/

.newArticle {
    width: 96.5%;
    background-color: #FAEBD7;
    padding: 15px;
}

.newArticle input {
    margin: 5px;
}

.newArticle #titleInput {
    width: 400px;
}

.newArticle .body {
    position: absolute;
}

.newArticle textarea {
    position: relative;
    left: 39px;
    width: 400px;
    height: 100px;
    max-width: 600px;
}

.newArticle .submitButton {
    height: 30px;
    position: relative;
    left: 45px;
    cursor: pointer;
}

